<%- include('partials/header', { nome: estudante.nome }) %>
<section>
  <h1>Minhas Disciplinas</h1>
  <ul class="card-list">
    <% disciplinas.forEach((d, i) => { %>
      <li class="card">
        <%= d %>
        <form method="POST" action="/disciplinas/<%= i %>?_method=DELETE" style="margin-top:8px;">
          <input type="hidden" name="nome" value="<%= d %>">
          <button type="submit" class="excluir">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>
        </form>
      </li>
    <% }) %>
  </ul>

  <div class="add-form">
    <h3>Adicionar Disciplina</h3>
    <form method="POST" action="/disciplinas">
      <input type="text" name="nome" placeholder="Nome da disciplina" required>
      <button type="submit">Adicionar</button>
    </form>
  </div>
</section>
<%- include('partials/footer', { nome: estudante.nome }) %>