<%- include('partials/header', { nome: estudante.nome }) %>

<section>
  <div class="add-form">
    <h2>Editar Projeto</h2>
    <form method="POST" action="/projetos/<%= index %>?_method=PUT">
      <input type="text" name="titulo" value="<%= projeto.titulo %>" required>
      <textarea type="text" name="descricao" required><%= projeto.descricao %></textarea>
      <input type="text" name="link" value="<%= projeto.link %>">

      <p><strong>Tecnologias:</strong></p>
      <div style="display:flex; flex-wrap:wrap; gap:10px;">
        <% Object.values(Tecnologias).forEach(t => { %>
          <label style="background:#222; padding:5px 10px; border-radius:6px;">
            <input
              type="checkbox"
              name="techs"
              value="<%= t %>"
              <%= projeto.techs.includes(t) ? "checked" : "" %>
            >
            <%= t %>
          </label>
        <% }) %>
      </div>
      <button type="submit" style="margin-top:10px;">Salvar alterações</button>
    </form>
  </div>
</section>

<%- include('partials/footer', { nome: estudante.nome }) %></div>